html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
  padding: 0;
}
.initial-page {
  min-height: 100vh;
  background-image: url(../src/assets/login-image.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-component,
.login-component {
  padding: 2em;
  background-color: rgba(37, 37, 112, 0.15);
  max-width: 40%;
  min-width: 40%;
  border-radius: 1rem;
}
.signup-title,
.login-title {
  text-align: center;
}
.passwords-field {
  display: flex;
  gap: 1rem;
}
.passwords-field .inputs {
  width: 50%;
}
.inputs input {
  width: 100%;
  padding: .5rem;
}
.inputs label {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.765);
}
.button-submit {
  all: unset;
  padding: .5rem;
  border-radius: .5rem;
  background-color: aqua;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 95%;
  margin: 2rem auto 0;
  cursor: pointer;
  color: rgb(145, 114, 114);
}
.register-link-component,
.login-link-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.register-link-component .send-to-register,
.login-link-component .send-to-login {
  all: unset;
  color: rgb(198, 225, 216);
  cursor: pointer;
  background-color: rgba(198, 225, 216, .2);
  padding: .5rem;
  border-radius: 5px;
}
.register-link-component .send-to-register:hover,
.login-link-component .send-to-login:hover {
  color: white;
  background-color: rgba(221, 235, 230, 0.6);
}
.nav {
  background-color: rgb(39, 126, 126);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.nav__navigation {
  display: flex;
  align-items: center;
}
.nav__navigation-buttons {
  box-sizing: border-box;
  all: unset;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}
@media (max-width:490px) {
  .nav__navigation-buttons {
    box-sizing: border-box;
    padding: 1rem 2px;
    font-size: 11px;
    height: 100%;
  }
}
.nav__navigation-buttons:hover {
  background-color: rgb(63, 199, 81);
}
.nav__userinfo {
  display: flex;
  gap: 3rem;
  align-items: center;
}
@media (max-width:490px) {
  .nav__userinfo {
    gap: 5px;
  }
}
.nav__photo {
  background-color: rgb(117, 50, 180);
  color: aliceblue;
  text-transform: uppercase;
  border-radius: 50%;
  border: 2px solid white;
  width: 25px;
  height: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:490px) {
  .nav__photo {
    padding: 15px;
    font-size: 11px;
    border: 1.5px solid white;
  }
}
.nav__username {
  color: white;
  cursor: pointer;
  /* margin: 0; */
}
@media (max-width:490px) {
  .nav__username {
    font-size: 13px;
  }
}
.grid__cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 2rem;
}
@media (min-width: 780px) {
  .grid__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cards__grid {
  display: grid;
  gap: 2rem;
}
@media (min-width:780px) {
  .cards__grid {
    grid-column: 1 / 4;
    grid-template-columns: repeat(2, 1fr);
  }
}
.countries__card {
  grid-row-start: 1;
  /* grid-row-start: unset; */
}
@media (min-width: 780px) {
  .countries__card {
    grid-row-start: unset;
  }
}
.card, .countries__card {
  box-shadow: 0 0 20px 1px black;
  padding: 2rem;
  border-radius: 5px;
}
.card__title {
  margin: 0;
  padding: .3rem;
  border-bottom: 3px solid blue;
}
.card__content {
  margin-top: 2rem;
}
.card__content .content {
  max-height: 15rem;
  overflow-y: auto;
}
.content p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.content p:last-child {
  margin-bottom: 0;
}
.cards__grid .content p:hover {
  background-color: aquamarine;
  cursor: pointer;
  border-radius: 1rem;
}
.content::-webkit-scrollbar {
  width: .4rem;
  height: .6rem;
  background-color: rgb(226, 226, 193);
  border-radius: 1rem;
}
.content::-webkit-scrollbar-thumb {
  background-color: rgb(167, 167, 107);
  border-radius: 1rem;
}
.countries__content {
  max-width: 100%;
}
.countries__content .content {
  margin: 0 auto;
  display: flex;
  max-width: 75vw;
  gap: 7rem;
  /* background-color: antiquewhite; */
}
.countries__content img {
  max-width: 150px;
}
.country {
  cursor: pointer;
}
.country__name {
  text-align: center;
}